{% macro render_field(field, unit=None, with_label=true, with_error=true) -%}
  {% set placeholder = field.label.text -%}
  <div class="form_field{%if with_label %} has_label{% endif %}{%if field.errors|length > 0 %} has_error{% endif %}">
      {% if with_label %}{{ field.label }}{% elif field.description != '' %}{% set placeholder = '%s (%s)'|format(placeholder, field.description) %}{% endif %}
      {{ field(placeholder=placeholder, **kwargs) }}
      {% if unit is not none %}<span class="hidden-phone">&nbsp;</span> {{ unit|safe }}{% endif %}
      {% if with_error -%}{% for error in field.errors %}<div class="error"><i class="fa fa-exclamation-triangle fa-xs"></i> {{ error|safe }}</div>{% endfor %}{% endif -%}
      {% if with_label and (field.description != '' or 'validators.Optional' in (field.validators|string)) %}<div class="description">{% if 'validators.Optional' in (field.validators|string) %}(Optional) {% endif %}{{ field.description|safe }}</div>{% endif -%}
      {% if field.errors|length > 0 %}<script>$('[name={{ field.name }}]').focus()</script>{% endif %}
  </div>
{%- endmacro %}

{% macro render_notification() -%}
  {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
      <ul class="messages">
      {% for category, message in messages -%}
        {% set message = message[4:] if has_error else message -%}
        <li class="message message-{{ category }}">{{ message|safe }}</li>
      {%- endfor %}
      </ul>
    {%- endif %}
  {%- endwith %}
{%- endmacro %}
