{% set active_page = 'analysis' -%}
{% extends 'layout.html' -%}
{% block body -%}
  {% from 'macros/extras.html' import render_field -%}

  {% set num_test_food = test_foods.count() -%}
  {% set test_result_inputs = ['<br><br>'] -%}
  {% for f in test_foods -%}
    {% do test_result_inputs.append('<input type="text" name="inputs[]" size="2" minlength="1" maxlength="1" placeholder="%s" style="margin-bottom:.4rem" oninput="inputTestResult()">'|format(f)) -%}
  {%- endfor %}

  <script>
    var inputTestResult = function() {
      var text = '';
      $('[name^=inputs]').each(function() {
        text = text + $(this).val();
      });
      $('[name=test_result]').val(text);
    }
  </script>

  <div class="block-title"><i class="fa fa-chart-line fa-fw"></i> Analysis</div>
  <div class="block" style="background:#f5f5f5">
    <form action="{{ url_for('analysis', ref='main') }}" method="post">
      {{ form.csrf_token }}
      {{ render_field(form.name) }}
      {{ render_field(form.test_result, unit=test_result_inputs|join(' ')|safe) }}
      <div class="form_actions">
        <button class="button"><i class="fa fa-save fa-fw"></i> Analysis &amp; Record</button>
      </div>
    </form>
  </div>
{% endblock %}
