{% set active_page = 'index' -%}
{% extends 'layout.html' -%}
{% block body -%}
  {% set num_test_food = test_foods.count() -%}
  {% set num_strains = strains.count() -%}

  <div class="block-title">
    <i class="fa fa-table fa-fw"></i>
    Summarized selectivity of the {{ num_test_food }} proposed enrichment media,
    each inoculated with the 17 microorganisms (1-2 log CFU/mL) for 24 h.  
    <span style="font-weight: normal; font-style: italic;">
      The results are based on changes in absorption of broth with culture relative to control.
    </span>
  </div>
  <div class="block block--table">
    <table class="data-table">
      <tbody style=" display:block; overflow:auto; width:80rem;">
        <tr>
          <th>&nbsp;</th>
          {% for food in test_foods -%}
            <th{% if loop.index0 % 2 == 0 %} style="background:#f5f5f5"{% endif %}>{{ food.name }}</th>
          {%- endfor %}
        </tr>
        {% for group in strains|groupby('category') -%}
          <tr>
            <td><strong>{{ C.CATEGORY[group.grouper]|capitalize }}</strong></td>
            <td colspan="{{ num_test_food }}"></td>
          </tr>
          {% for strain in group.list -%}
            <tr>
              <td style="min-width:18rem"><em>{{ strain.name }}</em></td>
              {% for r in strain.test_result[:num_test_food] -%}
                <td style="text-align: center;{% if loop.index0 % 2 == 0 %} background: #f5f5f5;{% endif %}"><i class="fa {{ {'+': 'fa-plus', '-': 'fa-minus'}[r] }}"></i></td>
              {%- endfor %}
            </tr>
          {%- endfor %}
        {% endfor -%}
      </tbody>
    </table>
  </div>
{% endblock %}
