{% from 'macros/extras.html' import render_notification -%}
{% set navigation_bar = [
  ('index', 'Home <i class="fa fa-home fa-fw"></i>'),
  ('analysis', 'Analysis <i class="fa fa-chart-line fa-fw"></i>'),
  ('record', 'Records <i class="fa fa-file fa-fw"></i>'),
  ('settings', 'Settings <i class="fa fa-cog fa-fw"></i>'),
  ] -%}
{% set ref = request.args.get('ref') -%}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head -%}
  <meta charset="utf-8">
  <title>{% block title %}Biochemical Testing Service{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% assets "css_all" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
  {% assets "js_all" -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets %}
{%- endblock %}
</head>
<body class="application">

  <div class="container">
    <div class="row">
      <div class="column column-25">
        <nav class="navigation">
          <ul>
          {% for id, caption in navigation_bar -%}
            {% set is_active = (active_page == id) -%}
            <li{% if ref is none %} class="animated fadeInRight" style="animation-delay:{{ loop.index0 / 10.0 }}s"{% endif %}>
              <a id="nav-{{ url }}"{% if is_active %} class="active"{% endif %} href="{{ url_for(id, ref='nav', _external=true, _method='GET')|safe }}">
                <span>{{ caption|safe }}</span>
              </a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
      </div>

      <div class="column column-75">
        <main{% if ref != 'main' %} class="animated fadeInRight"{% endif %}>
          {% block body %}{% endblock %}
        </main>
      </div>
    </div>
  </div>

  <footer>
    <i class="fa fa-code" style="margin-right:2px"></i> Code &amp; Design by<br>
    <img src="{{ url_for('static', filename='images/next_small_logo.png') }}" alt="Next Solution Systems Co.,Ltd.">
  </footer>

  {{ render_notification() }}

</body>
</html>
