{% set active_page = 'record' -%}
{% extends 'layout.html' -%}
{% block body -%}
  {% set num_test_food = test_foods.count() -%}

    <div class="block-title"><i class="fa fa-file fa-fw"></i> Record Analysis Report</div>
    <div class="block block--table">
    <table class="data-table">
      <tbody style=" display:block; overflow:auto; width:80rem; font-size:.8em;">
        <tr>
          <th>&nbsp;</th>
          <th style="background: #f5f5f5; text-align: center;"><i class="fa fa-percentage"></i></th>
          {% for food in test_foods -%}
            <th>{{ food.name }}</th>
          {%- endfor %}
        </tr>
        <tr>
          <th style="min-width:18rem"><em>{{ sample_food.name or '(Unnamed)' }}</em></th>
          <td style="background:#f5f5f5">&nbsp;</td>
          {% for r in sample_food.test_result[:num_test_food] -%}
            <td style="text-align:center"><i class="fa {{ {'+': 'fa-plus', '-': 'fa-minus'}[r] }}"></i></td>
          {%- endfor %}
        </tr>
        {% for re in sample_food.approximate_to()|sort(reverse=true, attribute='percentage') -%}
          <tr>
            <th style="min-width:18rem"><em>{{ re.strain.name }}</em></th>
            <td style="background: #f5f5f5; text-align: center;"><strong>{{ (re.percentage * 100)|round(2, 'floor') }}%</strong></td>
            {% for r in re.strain.test_result[:num_test_food] -%}
              <td style="background: {{ ['#9f9', '#f99'][loop.index0 in re.diffs] }}; text-align: center;"><i class="fa {{ {'+': 'fa-plus', '-': 'fa-minus'}[r] }}"></i></td>
            {%- endfor %}
          </tr>
        {%- endfor %}
      </tbody>
    </table>
{% endblock %}
