{% set active_page = 'record' -%}
{% extends 'layout.html' -%}
{% block body -%}
  {% if sample_foods.count() > 0 -%}
    <div class="block-title"><i class="fa fa-file fa-fw"></i> Analysis Records</div>
    <div class="block block--table">
      <table>
        {% for sample_food in sample_foods -%}
          <tr>
            <td width="10">
              <i class="far fa-file fa-fw"></i>
            </td>
            <td>
              <a href="{{ url_for('record_view', id=sample_food.id, ref='main') }}">
                {{ sample_food.name or '(Unnamed)' }}
              </a>
            </td>
            <td style="text-align:right">
              <small style="color:#999">
                <i class="fa fa-clock fa-fw"></i>
                {{ sample_food.created_at.strftime('%d %b %Y &ndash; %H:%M')|safe }}
              </small>
            </td>
            <td width="10" style="text-align:right">
              <a href="javascript:" class="action" onclick="postConfirm('Do you want to remove this record &ndash; {{ sample_food.name or '(Unnamed)' }}?', '{{ url_for('record_delete', id=sample_food.id) }}')">
                <i class="fa fa-times-circle fa-fw"></i>
              </a>
            </td>
          </tr>
        {%- endfor %}
      </table>
    </div>
  {%- endif %}
{% endblock %}
